.kp-body{
  width: 1183px;
  /*height: 10000px;*/
  margin: auto 50px;
  /*background-color: #00a6f1;*/
}
.kp-wz i{
  font-weight: 700;
}
.kp-wz a {
  color: black;
  font-size: 14px;
}
.kp-img{
  margin-top: 18px;
}
.bigmonth{
  height: 80px;
  background: url("images/mthbg.gif") no-repeat ;
  margin-top: 51px;
  margin-bottom: 28px;
}
.kp-month{
  width: 100%;
  height: 495px;
// background-color: red;
}
.kp-month li{
  height: 250px;
  float: left;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  padding: 10px;
  margin: 2px;
  position: relative;
}
.kp-month a{
  position: relative;
}
.kp-month span{
  display: block;
  color: #000;
  font-weight: 700;
  position: absolute;
  bottom: -28px;
  left: 0px;
}
.kp-month s{
  color: black;
  font-size: 14px;
  font-weight: 700;
 position: absolute;
  bottom: -26px;
  right: 0px;
}
.kp-month li:hover{
  background-color:#ef7c6b ;
}

.bigfeb {
  height: 80px;
  background: url("images/mthbg.gif") no-repeat 0px -90px;
  margin-top: 51px;
  margin-bottom: 28px;
}
.kp-feb{
  width: 100%;
  /*height: 495px;*/
  //background-color: red;
}
.kp-feb li {
  height: 250px;
  float: left;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  padding: 10px;
  margin: 2px;
  position: relative;
}
.kp-feb a{
  position: relative;
}
.kp-feb span{
  display: block;
  color: #000;
  font-weight: 700;
  position: absolute;
  bottom: -28px;
  left: 0px;
}
.kp-feb s{
  color: black;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  bottom: -26px;
  right: 0px;
}
.kp-feb li:hover{
  background-color:#ef7c6b ;
}

.bigMar {
  height: 80px;
  background: url("images/mthbg.gif") no-repeat 0px -185px;
  margin-top: 310px;
  margin-bottom: 28px;
}


.bigApr {
  height: 80px;
  background: url("images/mthbg.gif") no-repeat 0px -294px;
  margin-top: 310px;
  margin-bottom: 28px;
}

.bigMay {
   height: 80px;
   background: url("images/mthbg.gif") no-repeat 0px -394px;
   margin-top: 50px;
   margin-bottom: 28px;
 }


.bigJune {
  height: 80px;
  background: url("images/mthbg.gif") no-repeat 0px -494px;
  margin-top: 330px;
  margin-bottom: 28px;
}


.bigJuly {
  height: 80px;
  background: url("images/mthbg.gif") no-repeat 0px -594px;
  margin-top: 330px;
  margin-bottom: 28px;
}

.bigAug {
   height: 80px;
   background: url("images/mthbg.gif") no-repeat 0px -694px;
   margin-top: 330px;
   margin-bottom: 28px;
 }

.bigSep {
  height: 80px;
  background: url("images/mthbg.gif") no-repeat 0px -794px;
  margin-top: 330px;
  margin-bottom: 28px;
}

.bigOct {
  height: 80px;
  background: url("images/mthbg.gif") no-repeat 0px -880px;
  margin-top: 330px;
  margin-bottom: 28px;
}

.bigNov {
  height: 80px;
  background: url("images/mthbg.gif") no-repeat 0px -965px;
  margin-top: 330px;
  margin-bottom: 28px;
}

.bigDec {
  height: 80px;
  background: url("images/mthbg.gif") no-repeat 0px -1065px;
  margin-top: 50px;
  margin-bottom: 28px;
}










/*附加头部样式*/
.main-head {
  width: 100%;
  height: 130px;
  background-color: #c9161c;
  box-sizing: border-box;
}

.main-wrap {
  height: 101px;
}

.main-wrap img {
  float: left;
  margin-top: 30px;
}

.gang {
  width: 1px;
  height: 58px;
  background-color: #fff;
  float: left;
  margin-top: 32px;
  margin-left: 45px;
}

.main-head .main-wrap .main-local_nav {
  float: left;
  width: 310px;
  height: 65px;
  padding-top: 70px;
  margin-left: 10px;
}

.main-wrap li {
  float: left;
  margin-left: 15px;
}

.main-wrap li a {
  font-size: 12px;
  color: #ffdb03;
}

.main-wrap .r2 {
  width: 320px;
  height: 70px;
  float: right;
  background-image: url(../images/微信图片_20170901000002.png);
  margin-top: 30px;
}

.main-nav {
  width: 1349px;
  height: 42px;
  background-color: #000;
  position: relative;
}

.main-nav ul {
  position: absolute;
  top: 0;
  left: 122px;
}

.main-nav ul span {
  font-size: 13px;
}

.main-nav ul li {
  float: left;
  margin-right: 60px;
}
.main-nav ul li a:hover {
  color: orange;
}

.main-nav li a {
  color: #fff;
  font-size: 16px;
  line-height: 42px;
}
.main-nav li:nth-child(2){
  position: relative;
}
.main-nav .kz li{
  border-top:2px solid red;
  width: 77px;
  height: 42px;
  background-color: #000;
  position: absolute;
  top:42px;
  left:-125px;
  z-index:1;
  color: #fff;
  text-align: center;
  line-height: 42px;
  display: none;
}


.main-nav ul li .ul li:nth-child(1) a{
  width: 95px;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: -129px;
  display: none;
  text-align:center ;
}

.main-nav ul li .ul li:nth-child(2) a{
  width: 95px;
  position: absolute;
  z-index: 999;
  top: 60px;
  left: -129px;
  display: none;
  text-align:center ;
}

/*附加尾部样式*/

body{
  background-color: #fff;
  width: 100%;
  overflow-x: hidden;
}
.main-w {
  width: 1000px;
  margin: 0 auto;
}
.main-foot{

  width: 100%;
  height: 700px;
  background-color: #1a1a1a;
  padding-top: 1px;
  margin-top: 80px;


}
.end-heightone{
  margin-top: 80px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.end-heightone div{
  height:20px;
  width: 5px;
  background-color: #dd4f4d;
  position: absolute;
  top:5px;
  left:0px;
}
.end-heighttwo ul{
  width: 100%;

}
.end-heightthree ul{
  width: 100%;

}
.end-heightfour ul{
  width: 100%;

}
.end-heightfive ul{
  width: 100%;
}
.end-heightsix ul{
  width: 100%;
}
.end-heightseven ul{
  width: 100%;
}.end-heighteight ul{
   width: 100%;
 }
.main-w li a{
  width: 25%;
  float: left;
  font-size: 12px;
  color: #dd4f4d;
  margin-top: 40px;
}
.end-heightthree li a,.end-heightfive li a,.end-heighteight li a{
  color: #fff;
}
.end-heightsix{
  margin-top: 70px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.end-heightsix div{
  height:20px;
  width: 5px;
  background-color: #dd4f4d;
  position: absolute;
  top:5px;
  left:0px;
}
.end-banner{
  margin-top:80px;
}
.end-banner img{

}
.end-banner .left-img{
  width: 200px;;
  height: 60px;
}
.end-banner .aboutbanquan{
  height: 60px;
  width: 800px;
  font-size: 15px;
  color: #999;
}









